<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Roadhouse</title>

	
	<link rel="stylesheet" href="css/default.css">
	<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-precomposed-72.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-precomposed-114.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-precomposed-144.png">
	
	<link rel="icon" type="image/png" href="images/logo/favicon.png">
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body itemscope itemtype="http://schema.org/CreativeWork">

	<div class='control-bar'>
		<div class='control-bar-logo'></div>
		<div class='control-bar-footer'>
			<div class='control-bar-footer-main'>
				<a href='learn.html'>Learn</a>
				<a href='about.html'>About</a>
				<a href='blog.html'>Blog</a>
				<a href='contact.html'>Contact Us</a>
			</div>
			<div class='control-bar-footer-sub'>
				<a href='legal/terms.html'>Terms of Service</a>
				<a href='legal/privacy.html'>Privacy Policy</a>
				&copy; Roadhouse 2013
			</div>
		</div>
	</div>
	
	<center>
		<div class='content-center'>
			<h1>Roadhouse Blog</h1>
			
			<div class='content-center-block'>
				<h2>An Open Letter to Hobbyists</h2>
				<br/>
				
				<div class='content-center-attribute'>18th January, 2013<br/>Engineering</div>
				
				<p>
				To me, the most critical thing in the hobby market right now is the lack of good software courses, books and software itself. Without good software
				and an owner who understands programming, a hobby computer is wasted. Will quality software be written for the hobby market?
				<br/><br/>
				Almost a year ago, Paul Allen and myself, expecting the hobby market to expand, hired Monte Davidoff and developed Altair BASIC. Though the
				initial work took only two months, the three of us have spent most of the last year documenting, improving and adding features to BASIC. Now
				we have 4K, 8K, EXTENDED, ROM and DISK BASIC. The value of the computer time we have used exceeds $40,000.
				<br/><br/>
				The feedback we have gotten from the hundreds of people who say they are using BASIC has all been positive. Two surprising things are apparent,
				however, 1) Most of these "users" never bought BASIC (less than 10% of all Altair owners have bought BASIC), and 2) The amount of royalties we
				have received from sales to hobbyists makes the time spent on Altair BASIC worth less than $2 an hour.
				<br/><br/>
				Why is this? As the majority of hobbyists must be aware, most of you steal your software. Hardware must be paid for, but software is something to
				share. Who cares if the people who worked on it get paid?
				<br/><br/>
				Is this fair? One thing you don't do by stealing software is get back at MITS for some problem you may have had. MITS doesn't make money selling
				software. The royalty paid to us, the manual, the tape and the overhead make it a break-even operation. One thing you do do is prevent good
				software from being written. Who can afford to do professional work for nothing? What hobbyist can put 3-man years into programming, finding
				all bugs, documenting his product and distribute for free? The fact is, no one besides us has invested a lot of money in hobby software. We have
				written 6800 BASIC, and are writing 8080 APL and 6800 APL, but there is very little incentive to make this software available to hobbyists. Most
				directly, the thing you do is theft.
				</p>
			</div>
			
			<div class='content-center-block'>
				<h2>An Open Letter to Hobbyists</h2>
				<br/>
				
				<div class='content-center-attribute'>18th January, 2013<br/>Engineering</div>
				
				<p>
				To me, the most critical thing in the hobby market right now is the lack of good software courses, books and software itself. Without good software
				and an owner who understands programming, a hobby computer is wasted. Will quality software be written for the hobby market?
				<br/><br/>
				Almost a year ago, Paul Allen and myself, expecting the hobby market to expand, hired Monte Davidoff and developed Altair BASIC. Though the
				initial work took only two months, the three of us have spent most of the last year documenting, improving and adding features to BASIC. Now
				we have 4K, 8K, EXTENDED, ROM and DISK BASIC. The value of the computer time we have used exceeds $40,000.
				<br/><br/>
				The feedback we have gotten from the hundreds of people who say they are using BASIC has all been positive. Two surprising things are apparent,
				however, 1) Most of these "users" never bought BASIC (less than 10% of all Altair owners have bought BASIC), and 2) The amount of royalties we
				have received from sales to hobbyists makes the time spent on Altair BASIC worth less than $2 an hour.
				<br/><br/>
				Why is this? As the majority of hobbyists must be aware, most of you steal your software. Hardware must be paid for, but software is something to
				share. Who cares if the people who worked on it get paid?
				<br/><br/>
				Is this fair? One thing you don't do by stealing software is get back at MITS for some problem you may have had. MITS doesn't make money selling
				software. The royalty paid to us, the manual, the tape and the overhead make it a break-even operation. One thing you do do is prevent good
				software from being written. Who can afford to do professional work for nothing? What hobbyist can put 3-man years into programming, finding
				all bugs, documenting his product and distribute for free? The fact is, no one besides us has invested a lot of money in hobby software. We have
				written 6800 BASIC, and are writing 8080 APL and 6800 APL, but there is very little incentive to make this software available to hobbyists. Most
				directly, the thing you do is theft.
				</p>
			</div>
			</div>
		</div>
	</center>
	
	
	
</body></html>