<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Roadhouse</title>

	
	<link rel="stylesheet" href="css/default.css">
	<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-precomposed-72.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-precomposed-114.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-precomposed-144.png">
	
	<link rel="icon" type="image/png" href="images/logo/favicon.png">
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body itemscope itemtype="http://schema.org/CreativeWork" style="background-image: url('images/backgrounds/intro.jpg');">
	
	<div class='control-bar'>
		<div class='control-bar-logo'></div>
		<div class='control-bar-footer'>
			<div class='control-bar-footer-main'>
				<a href='learn.html'>Learn</a>
				<a href='about.html'>About</a>
				<a href='blog.html'>Blog</a>
				<a href='contact.html'>Contact Us</a>
			</div>
			<div class='control-bar-footer-sub'>
				<a href='legal/terms.html'>Terms of Service</a>
				<a href='legal/privacy.html'>Privacy Policy</a>
				&copy; Roadhouse 2013
			</div>
		</div>
	</div>
	
	<div class='content-intro'>
		<div class='intro-main'>
			<div class='text-intro'>
				<h1>Walk With Your Friends...</h1>
				<h2>Discover, start meetups and connect with the world around you.</h2>
				<h3>Available on Windows Phone Store</h3>
			</div>
			
			<div class='input-intro'>
				<ul>
				<li>Enter email address and password here to login...</li>
				</ul>
			</div>
		</div>
		
		<div class='intro_phone'>
			<div class='intro-phone-overlay'></div>
			<div class='intro-phone-screen'>
				<div class='intro-phone-screen-content'>
					<img src='images/intro/screens/1.png'/>
					<div style='clear: both;'></div>
					<img src='images/intro/screens/1.png'/>
					
					<img src='images/intro/screens/1.png'/>
					<img src='images/intro/screens/1.png'/>
					<div style='clear: both;'></div>
					<img src='images/intro/screens/1.png'/>
					<img src='images/intro/screens/1.png'/>
				</div>
			</div>
		</div>
	</div>
	
	
</body></html>