{% extends "base.html" %}

{% block body %}
	<center>
		<div class='content-center'>
			<h1>About Roadhouse</h1>
			<h2>Our mission is to let people enjoy the world around them and to make beautiful spontaneous moments in their lives.</h2>
			<br/>
			
			<div style='max-width: 500px; padding: 30px 0 30px 0;'>
			<p>In the morning, as Remi and Lee Ann slept, and as I looked with some sadness at the big pile of
			wash Remi and I were scheduled to do in the Bendix machine in the shack in the back (which had
			always been such a joyous sunny operation among the colored women and with Mr. Snow laughing
			his head off), I decided to leave. I went out on the porch. «No, dammit,» I said to myself, «I
			promised I wouldn’t leave till I climbed that mountain.» That was the big side of the canyon that led
			mysteriously to the Pacific Ocean.</p>
			
			<div style='padding: 50px 0 50px 0;'>
			<h1>STAYED<br/>
			ANOTHER<br/>
			DAY<br/>
			IT<br/>
			WAS<br/>
			SUNDAY</h1>
			</div>
			
			<p>
			A great heat wave descended; it was a beautiful day, the
			sun turned red at three. I started up the mountain and got to the top at four. All those lovely
			California cottonwoods and eucalypti brooded on all sides. Near the peak there were no more trees,
			just rocks and grass. Cattle were grazing on the top of the coast. There was the Pacific, a few more
			foothills away, blue and vast and with a great wall of white advancing from the legendary potato
			patch where Frisco fogs are born. Another hour and it would come streaming through the Golden
			Gate to shroud the romantic city in white, and a young man would hold his girl by the hand and climb
			slowly up a long white sidewalk with a bottle of Tokay in his pocket. That was Frisco; and beautiful
			women standing in white doorways, waiting for their men; and Coit Tower, and the Embarcadero,
			and Market Street, and the eleven teeming hills.
			I spun around till I was dizzy; I thought I’d fall down as in a dream, clear off the precipice. Oh
			where is the girl I love? I thought, and looked everywhere, as I had looked everywhere in the little
			world below. And before me was the great raw bulge and bulk of my American continent;
			somewhere far across, gloomy, crazy New York was throwing up its cloud of dust and brown
			steam. There is something brown and holy about the East; and California is white like washlines and
			emptyheaded - at least that’s what I thought then.
			</p>		
			
			</div>
			
			<h3>Our Team</h3>
			<br/><br/>
			
			<table>
				<tr><td style='padding-right: 8%;'>
				<h4>Sandaruwan Silva</h4>(@sandy)
				<p>Old multimedia guy, worked at <a href='http://fennec.sf.net'>Fennec Media Suite</a> and now
				taking care of design and programming of Roadhouse. Keeps a blog <a href='c-h.users.sf.net'>here</a>, plays drums
				and likes art and philosophy.</p>
				</td><td style='padding-left: 8%;'>
				<h4>Dinith Athukorala</h4>(@dinith)
				<p>Responsible for user experience and the product management, ..... I fully expected to find a Constable in the kitchen, waiting to take me up. But not only was there no Constable there, but no discovery had yet been made of the robbery. Mrs. Joe was prodigiously Plays bass and sings.</p>
				</td></tr>
			<table>
			
			<br/><br/>
			<h3>Contact Us</h3>
			
			<div style='max-width: 500px; padding: 30px 0 30px 0;'>
			<p>
				I fully expected to find a Constable in the kitchen, waiting to take me up. But not only was there no Constable there, but no discovery had yet been made of the robbery. Mrs. Joe was prodigiously busy in getting the house ready for the festivities of the day, and Joe had been put upon the kitchen doorstep to keep him out of the dust-pan,—an article into which his destiny always led him, sooner or later, when my sister was vigorously reaping the floors of her establishment.
				"And where the deuce ha' you been?" was Mrs. Joe's Christmas salutation, when I and my conscience showed ourselves.
				I said I had been down to hear the Carols. "Ah! well!" observed Mrs. Joe. "You might ha' done worse." Not a doubt of that I thought.
				"Perhaps if I warn't a blacksmith's wife, and (what's the same thing) a slave with her apron never off, I should have been to hear the Carols," said Mrs. Joe. "I'm rather partial to Carols, myself, and that's the best of reasons for my never hearing any."
				Joe, who had ventured into the kitchen after me as the dustpan had retired before us, drew the back of his hand across his nose with a conciliatory air, when Mrs. Joe darted a look at him, and, when her eyes were withdrawn, secretly crossed his two forefingers, and exhibited them to me, as our token that Mrs. Joe was in a cross temper. This was so much her normal state, that Joe and I would often, for weeks together, be, as to our fingers, like monumental Crusaders as to their legs.
				We were to have a superb dinner, consisting of a leg of pickled pork and greens, and a pair of roast stuffed fowls. A handsome mince-pie had been made yesterday morning (which accounted for the mincemeat not being missed), and the pudding was already on the boil. These extensive arrangements occasioned us to be cut off unceremoniously in respect of breakfast; "for I ain't," said Mrs. Joe,—"I ain't a going to have no formal cramming and busting and washing up now, with what I've got before me, I promise you!"
				So, we had our slices served out, as if we were two thousand troops on a forced march instead of a man and boy at home; and we took gulps of milk and water, with apologetic countenances, from a jug on the dresser. In the meantime, Mrs. Joe put clean white curtains up, and tacked a new flowered flounce across the wide chimney to replace the old one, and uncovered the little state parlor across the passage, which was never uncovered at any other time, but passed the rest of the year in a cool haze of silver paper, which even extended to the four little white crockery poodles on the mantel-shelf, each with a black nose and a basket of flowers in his mouth, and each the counterpart of the other. Mrs. Joe was a very clean housekeeper, but had an exquisite art of making her cleanliness more uncomfortable and unacceptable than dirt itself. Cleanliness is next to Godliness, and some people do the same by their religion.
			</p>
			</div>
		</div>
	</center>
{% end %}